.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg');
    background-size: cover;
  }
  